* {
    box-sizing: border-box;
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    height: 350px;
  }
  .input {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input {
    width: 50px;
    height: 70px;
    margin: 5px;
    text-align: center;
    font-size: 30px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    outline: none;
  }
  input:focus {
    border: 1px solid rgb(141, 141, 255);
  }
  input::placeholder {
    color: rgb(208, 208, 208);
  }
  p {
    text-align: center;
    margin: 10px 50px;
  }
  .last {
    background-color: rgb(228, 228, 228);
    color: rgb(145, 145, 145);
    padding: 10px;
  }